<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>CSHeader</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Wifi Color</string>
		</dict>
	             <dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.dpkg.colormysb</string>
			<key>key</key>
			<string>wifiOption</string>
			<key>label</key>
			<string>WIFI Option</string>
			<key>default</key>
			<string>2</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Red</string>
				<string>Blue</string>
				<string>Cyan</string>
				<string>Magenta</string>
				<string>Yellow</string>
				<string>Orange</string>
				<string>Green</string>
				<string>Gray</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.dpkg.colormysb/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Cellular Signal Color</string>
		</dict>
	             <dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.dpkg.colormysb</string>
			<key>key</key>
			<string>cellOption</string>
			<key>label</key>
			<string>CELL Option</string>
			<key>default</key>
			<string>2</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Red</string>
				<string>Blue</string>
				<string>Cyan</string>
				<string>Magenta</string>
				<string>Yellow</string>
				<string>Orange</string>
				<string>Green</string>
				<string>Gray</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.dpkg.colormysb/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Text Color</string>
		</dict>
	             <dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.dpkg.colormysb</string>
			<key>key</key>
			<string>textOption</string>
			<key>label</key>
			<string>TEXT Option</string>
			<key>default</key>
			<string>2</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Red</string>
				<string>Blue</string>
				<string>Cyan</string>
				<string>Magenta</string>
				<string>Yellow</string>
				<string>Orange</string>
				<string>Green</string>
				<string>Gray</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.dpkg.colormysb/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other Items Color</string>
		</dict>
	             <dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.dpkg.colormysb</string>
			<key>key</key>
			<string>imgOption</string>
			<key>label</key>
			<string>IMG Option</string>
			<key>default</key>
			<string>2</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Red</string>
				<string>Blue</string>
				<string>Cyan</string>
				<string>Magenta</string>
				<string>Yellow</string>
				<string>Orange</string>
				<string>Green</string>
				<string>Gray</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.dpkg.colormysb/preferences.changed</string>
		</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Developer</string>
			</dict>
			<dict>
            	<key>cellClass</key>
            	<string>HBTwitterCell</string>
            	<key>label</key>
            	<string>mg'</string>
            	<key>user</key>
            	<string>dpkg_</string>
			</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>subtitle</key>
			<string>Support me!</string>
			<key>url</key>
			<string>https://www.paypal.me/mrefaey0</string>
	             <key>icon</key>
			<string>paypal.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>ColorMySB</string>
</dict>
</plist>
